[defaults]
inventory = ./inventory/hosts.ini
host_key_checking = False

# --- 修改这里 ---
# 删除原来的 stdout_callback = community.general.yaml
# 改为使用内置的默认回调并指定输出格式
stdout_callback = ansible.builtin.default
result_format = yaml
# ----------------
